@font-face {
    font-family: 'FuturaBT';
    src: url("../fonts/futura-bold.woff2");
}

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100vh;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0 auto;
}

.header-container {
    width: 100%;
    background-image: url('../img/bg1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: color-dodge;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    position: relative;
    clip-path: polygon(0 0, 0 90%, 50% 100%, 100% 90%, 100% 0);
}

.header-menu {
    width: 100%;
    padding: 40px 174px 37px 202px;
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 1%;
    position: absolute;
    left: 0;
    top: 0;
}

.company-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 36px;
    color: #424F57;
    margin-right: 152px;
}

.company-name-decoration {
    text-transform: uppercase;
    color: #14AFCA;
}

.header-menu-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.header-menu-item {
    list-style: none;
}

.header-menu-link {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #3E4C4E;
}

.header-menu-item:hover .header-menu-link {
    color: #14AFCA;
}

.header-baner {
    max-width: 996px;
    font-family: 'FuturaBT';
    font-size: 52px;
    line-height: 75px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 317px;
    margin-bottom: 134px;
}

.what-container {
    width: 100%;
    margin-top: 122px;
    margin-bottom: 90px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.what-title-container {
    display: flex;
    flex-direction: column;
}

.what-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 40px;
    text-align: center;
    color: #14AFCA;
    text-transform: uppercase;
}

.what-title-description {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    color: #424F57;
    margin-top: 11px;
}

.what-text {
    max-width: 992px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #424F57;
    text-align: center;
}

.companies-container {
    width: 100%;
}

.img-container {
    margin-bottom: 2%;
    background-image: url("../img/bg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    background-blend-mode: color-dodge;
    clip-path: polygon(0% 0%, 50% 10%, 100% 0, 100% 100%, 0 100%);
    padding-top: 129px;
}

.companies-title-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.companies-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 75px;
    text-align: center;
    color: #14AFCA;
}

.companies-title-description {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 75px;
    text-align: center;
    letter-spacing: 0.899999px;
    color: #FFFFFF;
    margin-bottom: 18.5px;
}

.company-img-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 20%);
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    justify-content: center;
    column-gap: 5%;
    row-gap: 121px;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 8%;
}

.company-2-logo {
    width: 225px;
    background: #FCFBFB;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    padding: 19px 16px 17px 16px;
}

.meet-us-title-container {
    margin-top: 82px;
    margin-bottom: 3px;
}

.meet-us-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 40px;
    align-items: center;
    text-align: center;
    color: #14AFCA;
    margin-bottom: 10px;
}

.meet-us-title-description {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    color: #424F57;
    margin-bottom: 10px;
}

.team-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 128.5px;
}

.team-container-resume {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.team-resume-photo {
    max-width: 207px;
    max-height: 206px;
}

.team-description {
    max-width: 309px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    text-align: center;
    color: #424F57;
}

.testimonials-container {
    padding-top: 190px;
    padding-bottom: 143px;
    background-image: url("../img/bg3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: color-dodge;
    clip-path: polygon(0 0, 50% 10%, 100% 0, 100% 90%, 50% 100%, 0 90%);
}
.testimonials-title-container {
    max-width: 506px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.testimonials-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #14AFCA;
}

.testimonials-title-description {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 0.9px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 20px;
}

.testimonials-quote-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.testimonials-quote {
    font-family: 'OpenSans';
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.8px;
    color: #D3CCCC;
    margin-top: 48px;
}

.testimonials-quote-signature {
    font-family: 'OpenSans';
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.45px;
    color: #FFFFFF;
    margin-top: 28px;
    align-self: end;
    margin-right: 327px;
}

.why-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #14AFCA;
    margin-top: 105px;
}

.why-description {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 0.45px;
    text-align: center;
    color: #424F57;
    text-transform: none;
}

.why-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.75px;
    color: #424F57;
    margin-top: 10px;
    margin-bottom: 96px;
}

.footer-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.7px;
    color: #3D3C3C;
    margin-bottom: 88px;
}

.footer-text-span {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.8px;
    color: #3D3C3C;
}

.parallax {
    transform-style: inherit;
}

.parallax::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
    transform-origin: center;
    transform: translateZ(-1px) scale(2);
}